div(class='cssPrimitivesWrapper')
  h1= ' <' + selected.html.tagName.toLowerCase() + '>'
  - for css in selected.css
    div(id=css.property, data-type=css.primitive.value.type, class='cssPrimitives')
      span.cssProperty 
        =css.property + ':'
      br
      span.cssType
        = '@' + css.primitive.value.type + ' '
      - if (typeof css.primitive.value.val === 'object')
        span.cssPrimitiveVal
          = 'rgb(' + css.primitive.value.val.r + ', ' + css.primitive.value.val.g + ', ' + css.primitive.value.val.b + ')'
      - else if (css.primitive.value.type === 'string')
        span(contenteditable='true', type='text', class='cssPrimitiveVal cssString', data-value=css.primitive.value.val)
          =css.primitive.value.val
      - else
        span(class='cssPrimitiveVal ' + css.primitive.value.type, data-value=css.primitive.value.val, data-unit= css.primitive.value.unit)
          = css.primitive.value.val
      span.cssPrimitiveUnit
        = css.primitive.value.unit